.body {
    display: grid;
    grid-template-columns: 4rem 1fr auto;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    align-items: center;
    gap: 1.4rem;
    padding: 1rem;
    min-height: 5.5rem; /*120px*/
}
.logo {

}

.buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 1.4rem;
}

